.App-header-CU {
    background-color: #28292c;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.image-container {
    width: 10px;
    height: 10px;
}

.bottom-three {
    margin-bottom: 3cm;
}

.right-one {
    margin-right: 1cm;
}

.left-align {
    text-align: left;
}