.App-AU {
    text-align: center;
}

.App-header-AU {
    background-color: #404146;
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-info-AU {
    background-color: #428a8f;
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

 .App-logo {
    height: 40vmin;
}